* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    line-height: 1.7;
    color: #222;
    font-size: 18px;
    font-family: Aldrich, serif;
    margin: 0;
}

div#header {
    background-color: #4f6e8d;
    height: 50px;
    margin: 0 0 80px 0;
}

div#nav {
    width: 800px;
    margin: 0 auto;
    font-family: Aldrich, sans;
    font-size: 16px;
}

div#nav a {
    display: block;
    color: #fff;
    height: 100%;
    padding: 11px 15px;
    text-decoration: none;
}

div#nav a:hover {
    background-color: #214970
}

div#nav a.brand {
    float: left;
}

div#nav ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
}

div#nav ul li {
    float: left
}

div#nav li.menu-item {
    display: list-item;
}

div#page {
    width: 800px;
    margin: 0 auto;
}


div.alert-success {
    height: 50px;
    padding: 10px;
    color: rgb(30, 61, 38);
    opacity: 0.8;
    background-color: rgb(102, 170, 124);
    border: 2px solid rgb(105, 153, 96);
    text-align: center;
}

ul.entry-list {
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 42px;
    border-bottom: 2px solid #42586e;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

.form {
    margin: 20px 0 40px;
}

.form label {
    float: left;
    width: 140px;
}

.form div.controls {
    margin: 0 0 10px 140px;
}

.form input, .form textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #a9a9a9;
}

textarea#message-textarea {
    height: 140px;
    overflow: auto;
}

div#contact_form_button {
    margin-left: 140px;
    width: 140px;
}

div.footer {
    font-size: 14px;
}

div.invalid-feedback {
    color: rgb(223, 113, 113)
}

input#contact-button {
    border: 1px solid #a9a9a9;
    background-color: #4f6e8d;
    color: #fff;
    padding: 4px 16px;
    height: 30px;
    font-family: Aldrich, sans;
}

@media only screen and (min-width: 320px) {
    div#nav {
        width: 95%;
    }
    div#nav li.menu-item {
        display: none;
    }
    div#page {
        width: 95%;
    }
}

@media (min-width: 768px) {
    div#nav {
        width: 720px;
    }
    div#nav li.menu-item {
        display: list-item;
    }
    div#page {
        width: 720px;
    }
}

@media (min-width: 840px) {
    div#nav {
        width: 800px;
    }
    div#page {
        width: 800px;
    }
}