* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    line-height: 1.7;
    color: #222;
    font-size: 18px;
    font-family: "lora", serif;
    margin: 0;
}

div#header {
    background-color: #4f6e8d;
    height: 50px;
    margin: 0 0 80px 0;
}

div#nav {
    width: 800px;
    margin: 0 auto;
    font-family: Aldrich, sans;
    font-size: 16px;
}

div#nav a {
    display: block;
    color: #fff;
    height: 100%;
    padding: 11px 12px;
    text-decoration: none;
}

div#nav a:hover {
    background-color: #214970
}

div#nav a.brand {
    float: left;
}

div#nav ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
}

div#nav ul li {
    float: left
}

div#nav li.menu-item {
    display: list-item;
}

div#page {
    width: 800px;
    margin: 0 auto;
}


div.alert-success {
    height: 45px;
    padding: 10px;
    color: rgb(30, 61, 38);
    opacity: 0.7;
    background-color: rgb(102, 170, 124);
    border: 2px solid rgb(105, 153, 96);
    text-align: center;
    font-family: Aldrich, sans;
    margin-top: -60px;
}

div.alert-danger {
    margin-left: 100px;
    margin-right: 100px;
    height: 45px;
    padding: 10px;
    color: rgb(61, 30, 30);
    opacity: 0.7;
    background-color: rgb(170, 102, 102);
    border: 2px solid rgb(153, 96, 96);
    text-align: center;
    font-family: Aldrich, sans;
    margin-top: -60px;
}

div.alert-info {
    margin-left: 100px;
    margin-right: 100px;
    height: 45px;
    padding: 10px;
    color: rgb(32, 43, 87);
    opacity: 0.7;
    background-color: rgb(105, 166, 235);
    border: 2px solid rgb(36, 73, 133);
    text-align: center;
    font-family: Aldrich, sans;
    margin-top: -60px;
}

li.entry-list-item {
    margin-bottom: 100px;
}

ul.entry-list {
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 42px;
    border-bottom: 2px solid #42586e;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

h1, h2 {
    font-family: 'Raleway';
    font-weight: 300;
}


@media only screen and (min-width: 320px) {
    div#nav {
        width: 95%;
    }
    div#nav li.menu-item {
        display: none;
    }
    div#page {
        width: 95%;
    }
}

@media (min-width: 768px) {
    div#nav {
        width: 720px;
    }
    div#nav li.menu-item {
        display: list-item;
    }
    div#nav li.login-additionals {
        display: none;
    }

    div#page {
        width: 720px;
    }
}

@media (min-width: 840px) {
    div#nav {
        width: 800px;
    }
    div#page {
        width: 800px;
    }
}