{% extends "layout.html" %}
{% block content %}
<div class="welcome">

</div>

<ul class="entry-list">
    {% for entry in entries %}
    <li class="entry-list-item">
        <div class="entry-list-item">
            <h2 class="content-title"><a href="{{ url_for('blogs.single_entry', slug=entry.slug )}}">{{ entry.title }}</a></h2>
            <p class="by-line">
                {% for tag in entry.tags %}
                    <a href="{{ url_for('blogs.by_tag', tag=tag.name.lower())}}">{{ tag.name.lower() }}</a>
                    •
                {% endfor %}
                Created on {{ entry.date_posted.strftime('%Y-%m-%d') }}
            </p>
            <div class="content-preview">
                {% for content in entry.preview_content %}
                    {{ content }}
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock content%}