{% extends "layout.html" %}
{% block content %}
<div class="single-entry">

    {% if entry.author == current_user %}
    <div class="user-controls">
        <a class="entry-update" href="{{ url_for('blogs.update_entry', slug=entry.slug) }}">Update</a>
        <a class="entry-delete" href="{{ url_for('blogs.unpublish_entry', slug=entry.slug)}}">Unpublish</a>
    </div>
    {% endif %}

    <h1 class="content-title">
        {{ entry.title }}
    </h1>

    <p class="by-line">
        By {{ entry.author.name }} on {{ entry.date_posted.strftime('%Y-%m-%d')}}
    </p>

    <div class="blog-content">
        {{ entry.markdown_content }}
    </div>

</div>
{% endblock content%}